# Skintify Environment Variables (TEMPLATE)
# Dapatkan API Key gratis di: https://home.openweathermap.org/

OPENWEATHER_API_KEY=<ISI_DENGAN_API_KEY_ANDA>
STORAGE_SECRET=<ISI_DENGAN_KODE_RAHASIA_BEBAS>
DATABASE_URL=sqlite:///data/db/tokopedia.db
COOKIE=<ISI_DENGAN_COOKIE_TOKOPEDIA_JIKA_DIPERLUKAN>
BD_DEVICE_ID=<ISI_DENGAN_DEVICE_ID>
BD_WEB_ID=<ISI_DENGAN_WEB_ID>
TKPD_USER_ID=<ISI_DENGAN_USER_ID>
X_VERSION=<ISI_DENGAN_VERSION>
LAZADA_CSRF_TOKEN=<ISI_DENGAN_TOKEN>

# API Provider Setup (Pisahkan pengaturan text chatbot dan voice)
CHATBOT_API_PROVIDER=gemini
VOICE_API_PROVIDER=gemini

# Kunci API 1: Untuk Chatbot Teks (Gemini 3.1)
CHATBOT_GEMINI_API_KEY=<ISI_DENGAN_API_KEY_GEMINI_ANDA>
CHATBOT_GEMINI_MODEL=gemini-3.1-flash-lite

# Kunci API 2: Khusus Untuk Transkripsi Voice (Gemini 1.5/2.0)
VOICE_GEMINI_API_KEY=<ISI_DENGAN_API_KEY_GEMINI_ANDA>
VOICE_GEMINI_MODEL=gemini-2.5-flash-lite

# Groq Cloud API (Cepat, tapi untuk B.Indo gunakan Gemma2)
GROQ_API_KEY=<ISI_DENGAN_API_KEY_GROQ_ANDA>
GROQ_MODEL=gemma2-9b-it
LAZADA_COOKIE=<ISI_DENGAN_COOKIE_LAZADA>

# Konfigurasi SMTP Gmail untuk Pengiriman OTP
EMAIL_PENGIRIM=<ISI_DENGAN_EMAIL_ANDA@gmail.com>
PASSWORD_APLIKASI=<ISI_DENGAN_APP_PASSWORD_GMAIL_ANDA>

#SHOPEE_COOKIE=<ISI_DENGAN_COOKIE_SHOPEE>
